
<div style="text-align: center;">
    <form #userlogin = "ngForm"  class="form_main px-3" id="formdata" (ngSubmit) = "onClickSubmit(userlogin.value)" >
            <div class="col-md-12 my-2">
               <input type="text" id="Product" name="product" class="form-control" placeholder="Product Name" aria-label="Product Name" ngModel>
            </div>
            <div class="col-md-12 my-2">
                <input class="form-control" name="filepath" type="file" id="formFile" ngModel (change)="readUrl($event)">
            </div>
            <div class="col-12 my-2">
                <input type="text" name="about" class="form-control text-align: center;" id="Description " placeholder="About Product" aria-label=" About Product " ngModel>
            </div>
            <div class="row  my-2">
                <div class="col-12  ">
                    <input type="number" name="quantity" class="form-control " id="Quantity" placeholder="Quantity" aria-label="Quantity" ngModel>
                </div>
                <div class="col-12 my-2">
                    <input type="number" class="form-control " name="price" id="Price" placeholder="Price" aria-label="Price"  ngModel>
                </div>
            </div>
            <div class="button class d-flex justify-content-center" id="submitbutton"> <button type="submit" 
                class="btn btn-primary mt-1 mb-3" id="submitbutton" value="submit" >add product</button>
            </div>
    </form>
</div>      
       
       
      <!-- /* <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
        <br/>
        <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
        <br/>
        <button type = "submit"  value = "submit">submit</button> -->
     
