*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.form_container{
	max-width: 100%;
    margin:5px 10px;
	height: auto;
	border:1px solid rgb(187, 184, 184);
    border-radius: 10px;
    box-shadow: -1px 23px 22px -8px rgba(68,51,51,0.57);
-webkit-box-shadow: -1px 23px 22px -8px rgba(68,51,51,0.57);
-moz-box-shadow: -1px 23px 22px -8px rgba(68,51,51,0.57);
}

.card{
    margin: 3% 0%;
}

hr { 
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right:auto;
    border-color: black;
    border-width: 2px;
  } 

  .card-container{
    box-sizing: border-box;
  }

  .cart-container{
    border:1px solid rgb(187, 184, 184);
    border-radius: 10px;
    box-shadow: -1px 23px 22px -8px rgba(68,51,51,0.57);
    -webkit-box-shadow: -1px 23px 22px -8px rgba(68,51,51,0.57);
    -moz-box-shadow: -1px 23px 22px -8px rgba(68,51,51,0.57);
  }

  .cart-body{border:none;}